<!--   <nb-card>
      <nb-card-body class="example-items-col">
        <nb-form-field>
          <nb-icon nbPrefix icon="star" pack="eva"></nb-icon>
          <input nbInput type="text">
          <nb-icon nbSuffix icon="star" pack="eva"></nb-icon>
        </nb-form-field>
        <nb-form-field>
          <nb-icon nbPrefix icon="star" pack="eva"></nb-icon>
          <nb-select>
            <nb-option>1</nb-option>
          </nb-select>
        </nb-form-field>
      </nb-card-body>
    </nb-card>


    <nb-layout>
  <nb-sidebar state="compacted"></nb-sidebar>

  <nb-layout-column  class="colored-column-primary">Layout Content</nb-layout-column>
</nb-layout> -->

<!-- 
 <nb-layout>
      <nb-layout-header fixed>Company Name</nb-layout-header>

      <nb-sidebar>Sidebar Content</nb-sidebar>
      
      <nb-layout-column>
        Page Content <button nbButton>Hello World</button>
      </nb-layout-column>
    </nb-layout>
 -->


    <!-- <app-some-page></app-some-page> -->

<router-outlet></router-outlet>